#maps {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    max-height: 100%;
    min-height: 50%;
    height: 480px;
    border-radius: 5px;
}

.info { 
    padding: 6px 10px; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h5 { 
    margin: 0 0 5px; 
    color: #777; 
}

.info b { 
    margin: 0 0 3px; 
    color: #777; 
}

.table {
    max-width: 50%;
    text-align: center;
    color: black;
}

.card {
    text-align: center;
    margin: 5px;
    color: black;
}

.navbar {
    background-color:#222831;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #dedcd6;

}

/* .leaflet-tile-container {
    display: none;
} */

.leaflet-container {
	background: black;
	outline: 0;
	}