<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps Project</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: aliceblue;" >Peta Covid-19 Indonesia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Maps <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>

</head>

<body>
    
    <div id="maps">
        <script type="text/javascript" src="{% static 'js/indonesia.js' %}"></script>
        <script>
            var mymap = L.map('maps', {zoomControl: false}).setView([-2.548926, 118.0148634], 5);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 5,
                minZoom: 5,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/light-v9',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);
            
            // control that shows state info on hover
            var info = L.control();

            info.onAdd = function (mymap) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };

            info.update = function (props) {

                this._div.innerHTML = '<h5>Kasus Covid-19</h5>' +  
                ( props ?  
                props.id_1 == 11 ? '<b>' + "{{provinsi.0}}" + '</b><br />' + "Positif : {{positif.0}}" + '<br />' + "Sembuh : {{sembuh.0}}" + '<br />' + "Meninggal : {{meninggal.0}}" + '<br />' :
                props.id_1 == 12 ? '<b>' + "{{provinsi.1}}" + '</b><br />' + "Positif : {{positif.1}}" + '<br />' + "Sembuh : {{sembuh.1}}" + '<br />' + "Meninggal : {{meninggal.1}}" + '<br />' :
                props.id_1 == 13 ? '<b>' + "{{provinsi.2}}" + '</b><br />' + "Positif : {{positif.2}}" + '<br />' + "Sembuh : {{sembuh.2}}" + '<br />' + "Meninggal : {{meninggal.2}}" + '<br />' :
                props.id_1 == 14 ? '<b>' + "{{provinsi.3}}" + '</b><br />' + "Positif : {{positif.3}}" + '<br />' + "Sembuh : {{sembuh.3}}" + '<br />' + "Meninggal : {{meninggal.3}}" + '<br />':
                props.id_1 == 15 ? '<b>' + "{{provinsi.4}}" + '</b><br />' + "Positif : {{positif.4}}" + '<br />' + "Sembuh : {{sembuh.4}}" + '<br />' + "Meninggal : {{meninggal.4}}" + '<br />':
                props.id_1 == 16 ? '<b>' + "{{provinsi.5}}" + '</b><br />' + "Positif : {{positif.5}}" + '<br />' + "Sembuh : {{sembuh.5}}" + '<br />' + "Meninggal : {{meninggal.5}}" + '<br />':
                props.id_1 == 17 ? '<b>' + "{{provinsi.6}}" + '</b><br />' + "Positif : {{positif.6}}" + '<br />' + "Sembuh : {{sembuh.6}}" + '<br />' + "Meninggal : {{meninggal.6}}" + '<br />':
                props.id_1 == 18 ? '<b>' + "{{provinsi.8}}" + '</b><br />' + "Positif : {{positif.8}}" + '<br />' + "Sembuh : {{sembuh.8}}" + '<br />' + "Meninggal : {{meninggal.8}}" + '<br />':
                props.id_1 == 19 ? '<b>' + "{{provinsi.7}}" + '</b><br />' + "Positif : {{positif.7}}" + '<br />' + "Sembuh : {{sembuh.7}}" + '<br />' + "Meninggal : {{meninggal.7}}" + '<br />':
                props.id_1 == 21 ? '<b>' + "{{provinsi.9}}" + '</b><br />' + "Positif : {{positif.9}}" + '<br />' + "Sembuh : {{sembuh.9}}" + '<br />' + "Meninggal : {{meninggal.9}}" + '<br />':
                props.id_1 == 31 ? '<b>' + "{{provinsi.10}}" + '</b><br />' + "Positif : {{positif.10}}" + '<br />' + "Sembuh : {{sembuh.10}}" + '<br />' + "Meninggal : {{meninggal.10}}" + '<br />':
                props.id_1 == 32 ? '<b>' + "{{provinsi.11}}" + '</b><br />' + "Positif : {{positif.11}}" + '<br />' + "Sembuh : {{sembuh.11}}" + '<br />' + "Meninggal : {{meninggal.11}}" + '<br />':
                props.id_1 == 33 ? '<b>' + "{{provinsi.12}}" + '</b><br />' + "Positif : {{positif.12}}" + '<br />' + "Sembuh : {{sembuh.12}}" + '<br />' + "Meninggal : {{meninggal.12}}" + '<br />':
                props.id_1 == 34 ? '<b>' + "{{provinsi.13}}" + '</b><br />' + "Positif : {{positif.13}}" + '<br />' + "Sembuh : {{sembuh.13}}" + '<br />' + "Meninggal : {{meninggal.13}}" + '<br />':
                props.id_1 == 35 ? '<b>' + "{{provinsi.14}}" + '</b><br />' + "Positif : {{positif.14}}" + '<br />' + "Sembuh : {{sembuh.14}}" + '<br />' + "Meninggal : {{meninggal.14}}" + '<br />':
                props.id_1 == 36 ? '<b>' + "{{provinsi.15}}" + '</b><br />' + "Positif : {{positif.15}}" + '<br />' + "Sembuh : {{sembuh.15}}" + '<br />' + "Meninggal : {{meninggal.15}}" + '<br />':
                props.id_1 == 51 ? '<b>' + "{{provinsi.16}}" + '</b><br />' + "Positif : {{positif.16}}" + '<br />' + "Sembuh : {{sembuh.16}}" + '<br />' + "Meninggal : {{meninggal.16}}" + '<br />':
                props.id_1 == 52 ? '<b>' + "{{provinsi.17}}" + '</b><br />' + "Positif : {{positif.17}}" + '<br />' + "Sembuh : {{sembuh.17}}" + '<br />' + "Meninggal : {{meninggal.17}}" + '<br />':
                props.id_1 == 53 ? '<b>' + "{{provinsi.18}}" + '</b><br />' + "Positif : {{positif.18}}" + '<br />' + "Sembuh : {{sembuh.18}}" + '<br />' + "Meninggal : {{meninggal.18}}" + '<br />':
                props.id_1 == 61 ? '<b>' + "{{provinsi.19}}" + '</b><br />' + "Positif : {{positif.19}}" + '<br />' + "Sembuh : {{sembuh.19}}" + '<br />' + "Meninggal : {{meninggal.19}}" + '<br />':
                props.id_1 == 62 ? '<b>' + "{{provinsi.20}}" + '</b><br />' + "Positif : {{positif.20}}" + '<br />' + "Sembuh : {{sembuh.20}}" + '<br />' + "Meninggal : {{meninggal.20}}" + '<br />':
                props.id_1 == 63 ? '<b>' + "{{provinsi.21}}" + '</b><br />' + "Positif : {{positif.21}}" + '<br />' + "Sembuh : {{sembuh.21}}" + '<br />' + "Meninggal : {{meninggal.21}}" + '<br />':
                props.id_1 == 64 ? '<b>' + "{{provinsi.22}}" + '</b><br />' + "Positif : {{positif.22}}" + '<br />' + "Sembuh : {{sembuh.22}}" + '<br />' + "Meninggal : {{meninggal.22}}" + '<br />':
                props.id_1 == 65 ? '<b>' + "{{provinsi.23}}" + '</b><br />' + "Positif : {{positif.23}}" + '<br />' + "Sembuh : {{sembuh.23}}" + '<br />' + "Meninggal : {{meninggal.23}}" + '<br />':
                props.id_1 == 71 ? '<b>' + "{{provinsi.24}}" + '</b><br />' + "Positif : {{positif.24}}" + '<br />' + "Sembuh : {{sembuh.24}}" + '<br />' + "Meninggal : {{meninggal.24}}" + '<br />':
                props.id_1 == 72 ? '<b>' + "{{provinsi.25}}" + '</b><br />' + "Positif : {{positif.25}}" + '<br />' + "Sembuh : {{sembuh.25}}" + '<br />' + "Meninggal : {{meninggal.25}}" + '<br />':
                props.id_1 == 73 ? '<b>' + "{{provinsi.26}}" + '</b><br />' + "Positif : {{positif.26}}" + '<br />' + "Sembuh : {{sembuh.26}}" + '<br />' + "Meninggal : {{meninggal.26}}" + '<br />':
                props.id_1 == 74 ? '<b>' + "{{provinsi.27}}" + '</b><br />' + "Positif : {{positif.27}}" + '<br />' + "Sembuh : {{sembuh.27}}" + '<br />' + "Meninggal : {{meninggal.27}}" + '<br />':
                props.id_1 == 75 ? '<b>' + "{{provinsi.28}}" + '</b><br />' + "Positif : {{positif.28}}" + '<br />' + "Sembuh : {{sembuh.28}}" + '<br />' + "Meninggal : {{meninggal.28}}" + '<br />':
                props.id_1 == 76 ? '<b>' + "{{provinsi.29}}" + '</b><br />' + "Positif : {{positif.29}}" + '<br />' + "Sembuh : {{sembuh.29}}" + '<br />' + "Meninggal : {{meninggal.29}}" + '<br />':
                props.id_1 == 81 ? '<b>' + "{{provinsi.30}}" + '</b><br />' + "Positif : {{positif.30}}" + '<br />' + "Sembuh : {{sembuh.30}}" + '<br />' + "Meninggal : {{meninggal.30}}" + '<br />':
                props.id_1 == 82 ? '<b>' + "{{provinsi.31}}" + '</b><br />' + "Positif : {{positif.31}}" + '<br />' + "Sembuh : {{sembuh.31}}" + '<br />' + "Meninggal : {{meninggal.31}}" + '<br />':
                props.id_1 == 91 ? '<b>' + "{{provinsi.32}}" + '</b><br />' + "Positif : {{positif.32}}" + '<br />' + "Sembuh : {{sembuh.32}}" + '<br />' + "Meninggal : {{meninggal.32}}" + '<br />':
                props.id_1 == 94 ? '<b>' + "{{provinsi.33}}" + '</b><br />' + "Positif : {{positif.33}}" + '<br />' + "Sembuh : {{sembuh.33}}" + '<br />' + "Meninggal : {{meninggal.33}}" + '<br />'
                : 'Pilih Provinsi'
                : 'Pilih Provinsi');

            };


            info.addTo(mymap);


            function style(feature) {
                return {
                    // fillColor: getColor(feature.properties.density),
                    weight: 2,
                    opacity: 1,
                    color: '#fc9272',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 3,
                    color: '#de2d26',
                    dashArray: '',
                    fillOpacity: 0.5
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
            }

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: highlightFeature,
                });
                
            }
        
            var geojson = L.geoJson(IndonesiaData, {style: style, onEachFeature: onEachFeature}).addTo(mymap);
        </script>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Provinsi</th>
                  <th scope="col">Kasus Positif</th>
                  <th scope="col">Sembuh</th>
                  <th scope="col">Meninggal</th>
                </tr>
            </thead>
            <tbody>
          
              {% for prov in provinsi%}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{prov}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>