<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps Project</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

</head>

<body>
    <div id="maps">
        <script type="text/javascript" src="{% static 'js/indonesia.js' %}"></script>
        <script>
            var mymap = L.map('maps').setView([-2.548926, 118.0148634], 5);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 5,
                minZoom: 5,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/light-v9',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);
            
            // control that shows state info on hover
            var info = L.control();

            info.onAdd = function (mymap) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };

            info.update = function (props) {

                this._div.innerHTML = '<h4>Kasus Covid-19</h4>' +  
                ( props ?  
                props.id_1 == 11 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />' :
                props.id_1 == 12 ? '<b>' + "{{sumut.0}}" + '</b><br />' + "Positif : {{sumut.1}}" + '<br />' + "Sembuh : {{sumut.2}}" + '<br />' + "Meninggal : {{sumut.3}}" + '<br />' :
                props.id_1 == 13 ? '<b>' + "{{sumbar.0}}" + '</b><br />' + "Positif : {{sumbar.1}}" + '<br />' + "Sembuh : {{sumbar.2}}" + '<br />' + "Meninggal : {{sumbar.3}}" + '<br />' :
                props.id_1 == 14 ? '<b>' + "{{riau.0}}" + '</b><br />' + "Positif : {{riau.1}}" + '<br />' + "Sembuh : {{riau.2}}" + '<br />' + "Meninggal : {{riau.3}}" + '<br />':
                props.id_1 == 15 ? '<b>' + "{{jambi.0}}" + '</b><br />' + "Positif : {{jambi.1}}" + '<br />' + "Sembuh : {{jambi.2}}" + '<br />' + "Meninggal : {{jambi.3}}" + '<br />':
                props.id_1 == 16 ? '<b>' + "{{sumsel.0}}" + '</b><br />' + "Positif : {{sumsel.1}}" + '<br />' + "Sembuh : {{sumsel.2}}" + '<br />' + "Meninggal : {{sumsel.3}}" + '<br />':
                props.id_1 == 17 ? '<b>' + "{{bengkulu.0}}" + '</b><br />' + "Positif : {{bengkulu.1}}" + '<br />' + "Sembuh : {{bengkulu.2}}" + '<br />' + "Meninggal : {{bengkulu.3}}" + '<br />':
                props.id_1 == 18 ? '<b>' + "{{lampung.0}}" + '</b><br />' + "Positif : {{lampung.1}}" + '<br />' + "Sembuh : {{lampung.2}}" + '<br />' + "Meninggal : {{lampung.3}}" + '<br />':
                props.id_1 == 19 ? '<b>' + "{{kep_bangkabelitung.0}}" + '</b><br />' + "Positif : {{kep_bangkabelitung.1}}" + '<br />' + "Sembuh : {{kep_bangkabelitung.2}}" + '<br />' + "Meninggal : {{kep_bangkabelitung.3}}" + '<br />':
                props.id_1 == 21 ? '<b>' + "{{kep_riau.0}}" + '</b><br />' + "Positif : {{kep_riau.1}}" + '<br />' + "Sembuh : {{kep_riau.2}}" + '<br />' + "Meninggal : {{kep_riau.3}}" + '<br />':
                props.id_1 == 31 ? '<b>' + "{{jakarta.0}}" + '</b><br />' + "Positif : {{jakarta.1}}" + '<br />' + "Sembuh : {{jakarta.2}}" + '<br />' + "Meninggal : {{jakarta.3}}" + '<br />':
                props.id_1 == 32 ? '<b>' + "{{jabar.0}}" + '</b><br />' + "Positif : {{jabar.1}}" + '<br />' + "Sembuh : {{jabar.2}}" + '<br />' + "Meninggal : {{jabar.3}}" + '<br />':
                props.id_1 == 33 ? '<b>' + "{{jateng.0}}" + '</b><br />' + "Positif : {{jateng.1}}" + '<br />' + "Sembuh : {{jateng.2}}" + '<br />' + "Meninggal : {{jateng.3}}" + '<br />':
                props.id_1 == 34 ? '<b>' + "{{yogyakarta.0}}" + '</b><br />' + "Positif : {{yogyakarta.1}}" + '<br />' + "Sembuh : {{yogyakarta.2}}" + '<br />' + "Meninggal : {{yogyakarta.3}}" + '<br />':
                props.id_1 == 35 ? '<b>' + "{{jatim.0}}" + '</b><br />' + "Positif : {{jatim.1}}" + '<br />' + "Sembuh : {{jatim.2}}" + '<br />' + "Meninggal : {{jatim.3}}" + '<br />':
                props.id_1 == 36 ? '<b>' + "{{banten.0}}" + '</b><br />' + "Positif : {{banten.1}}" + '<br />' + "Sembuh : {{banten.2}}" + '<br />' + "Meninggal : {{banten.3}}" + '<br />':
                props.id_1 == 51 ? '<b>' + "{{bali.0}}" + '</b><br />' + "Positif : {{bali.1}}" + '<br />' + "Sembuh : {{bali.2}}" + '<br />' + "Meninggal : {{bali.3}}" + '<br />':
                props.id_1 == 52 ? '<b>' + "{{ntb.0}}" + '</b><br />' + "Positif : {{ntb.1}}" + '<br />' + "Sembuh : {{ntb.2}}" + '<br />' + "Meninggal : {{ntb.3}}" + '<br />':
                props.id_1 == 53 ? '<b>' + "{{ntt.0}}" + '</b><br />' + "Positif : {{ntt.1}}" + '<br />' + "Sembuh : {{ntt.2}}" + '<br />' + "Meninggal : {{ntt.3}}" + '<br />':
                props.id_1 == 61 ? '<b>' + "{{kalbar.0}}" + '</b><br />' + "Positif : {{kalbar.1}}" + '<br />' + "Sembuh : {{kalbar.2}}" + '<br />' + "Meninggal : {{kalbar.3}}" + '<br />':
                props.id_1 == 62 ? '<b>' + "{{kalteng.0}}" + '</b><br />' + "Positif : {{kalteng.1}}" + '<br />' + "Sembuh : {{kalteng.2}}" + '<br />' + "Meninggal : {{kalteng.3}}" + '<br />':
                props.id_1 == 63 ? '<b>' + "{{kalsel.0}}" + '</b><br />' + "Positif : {{kalsel.1}}" + '<br />' + "Sembuh : {{kalsel.2}}" + '<br />' + "Meninggal : {{kalsel.3}}" + '<br />':
                props.id_1 == 64 ? '<b>' + "{{kaltim.0}}" + '</b><br />' + "Positif : {{kaltim.1}}" + '<br />' + "Sembuh : {{kaltim.2}}" + '<br />' + "Meninggal : {{kaltim.3}}" + '<br />':
                props.id_1 == 65 ? '<b>' + "{{kaltara.0}}" + '</b><br />' + "Positif : {{kaltara.1}}" + '<br />' + "Sembuh : {{kaltara.2}}" + '<br />' + "Meninggal : {{kaltara.3}}" + '<br />':
                props.id_1 == 71 ? '<b>' + "{{sulut.0}}" + '</b><br />' + "Positif : {{sulut.1}}" + '<br />' + "Sembuh : {{sulut.2}}" + '<br />' + "Meninggal : {{sulut.3}}" + '<br />':
                props.id_1 == 72 ? '<b>' + "{{sulteng.0}}" + '</b><br />' + "Positif : {{sulteng.1}}" + '<br />' + "Sembuh : {{sulteng.2}}" + '<br />' + "Meninggal : {{sulteng.3}}" + '<br />':
                props.id_1 == 73 ? '<b>' + "{{sulsel.0}}" + '</b><br />' + "Positif : {{sulsel.1}}" + '<br />' + "Sembuh : {{sulsel.2}}" + '<br />' + "Meninggal : {{sulsel.3}}" + '<br />':
                props.id_1 == 74 ? '<b>' + "{{sultengg.0}}" + '</b><br />' + "Positif : {{sultengg.1}}" + '<br />' + "Sembuh : {{sultengg.2}}" + '<br />' + "Meninggal : {{sultengg.3}}" + '<br />':
                props.id_1 == 75 ? '<b>' + "{{gorontalo.0}}" + '</b><br />' + "Positif : {{gorontalo.1}}" + '<br />' + "Sembuh : {{gorontalo.2}}" + '<br />' + "Meninggal : {{gorontalo.3}}" + '<br />':
                props.id_1 == 76 ? '<b>' + "{{sulbar.0}}" + '</b><br />' + "Positif : {{sulbar.1}}" + '<br />' + "Sembuh : {{sulbar.2}}" + '<br />' + "Meninggal : {{sulbar.3}}" + '<br />':
                props.id_1 == 81 ? '<b>' + "{{maluku.0}}" + '</b><br />' + "Positif : {{maluku.1}}" + '<br />' + "Sembuh : {{maluku.2}}" + '<br />' + "Meninggal : {{maluku.3}}" + '<br />':
                props.id_1 == 82 ? '<b>' + "{{maluku_utara.0}}" + '</b><br />' + "Positif : {{maluku_utara.1}}" + '<br />' + "Sembuh : {{maluku_utara.2}}" + '<br />' + "Meninggal : {{maluku_utara.3}}" + '<br />':
                props.id_1 == 91 ? '<b>' + "{{papua_barat.0}}" + '</b><br />' + "Positif : {{papua_barat.1}}" + '<br />' + "Sembuh : {{papua_barat.2}}" + '<br />' + "Meninggal : {{papua_barat.3}}" + '<br />':
                props.id_1 == 94 ? '<b>' + "{{papua.0}}" + '</b><br />' + "Positif : {{papua.1}}" + '<br />' + "Sembuh : {{papua.2}}" + '<br />' + "Meninggal : {{papua.3}}" + '<br />'
                : 'Pilih Provinsi'
                : 'Pilih Provinsi');

            };


            info.addTo(mymap);


            function style(feature) {
                return {
                    // fillColor: getColor(feature.properties.density),
                    weight: 2,
                    opacity: 1,
                    color: '#fc9272',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 3,
                    color: '#de2d26',
                    dashArray: '',
                    fillOpacity: 0.5
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        
            var geojson = L.geoJson(IndonesiaData, {style: style, onEachFeature: onEachFeature}).addTo(mymap);
        </script>
    </div>

</body>

</html>