<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps Project</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

</head>

<body>
    <div id="maps">
        <script type="text/javascript" src="{% static 'js/indonesia.js' %}"></script>
        <script>
            var mymap = L.map('maps').setView([-2.548926, 118.0148634], 5);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 5,
                minZoom: 5,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/light-v9',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);
            
            // control that shows state info on hover
            var info = L.control();

            info.onAdd = function (mymap) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };

            info.update = function (props) {

                this._div.innerHTML = '<h4>Covid-19 Cases</h4>' +  
                ( props ?  
                props.id_1 == 11 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />' :
                props.id_1 == 12 ? '<b>' + "{{sumut.0}}" + '</b><br />' + "Positif : {{sumut.1}}" + '<br />' + "Sembuh : {{sumut.2}}" + '<br />' + "Meninggal : {{sumut.3}}" + '<br />' :
                props.id_1 == 13 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />' :
                props.id_1 == 14 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 15 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 16 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 17 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 18 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 19 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 10 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 21 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 31 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 32 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 33 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 34 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 35 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 36 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 51 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 52 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 53 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 61 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 62 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 63 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 64 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 65 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 71 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 72 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 73 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 74 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 76 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 81 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 82 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 91 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />':
                props.id_1 == 94 ? '<b>' + "{{aceh.0}}" + '</b><br />' + "Positif : {{aceh.1}}" + '<br />' + "Sembuh : {{aceh.2}}" + '<br />' + "Meninggal : {{aceh.3}}" + '<br />'
                : 'Hover over a state'
                : 'Hover over a state');

            };


            info.addTo(mymap);


            function style(feature) {
                return {
                    // fillColor: getColor(feature.properties.density),
                    weight: 2,
                    opacity: 1,
                    color: '#fc9272',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 3,
                    color: '#de2d26',
                    dashArray: '',
                    fillOpacity: 0.5
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        
            var geojson = L.geoJson(IndonesiaData, {style: style, onEachFeature: onEachFeature}).addTo(mymap);
        </script>
    </div>

</body>

</html>